{% extends "base.html" %}
{% block title %}Clear Gym{% endblock %}{%block content%}
<br />
<h1 align="center" style="color:white">Daniel Quinn</h1>
<br />
<br />

<div>
    <div style="float: left">
<img style="border:2px solid black;" src="static/images/daniel.png" width="562" height="384" >

</div>
<div class="box-element product" style="border:2px solid black;"><p align ="center">Mobile Number : 07955478655</p>
<br />
<p align ="center">Telephone Number : 028 8776 3493</p>
<br />
<p align ="center">Email Address : daniel.quinn@gmail.com</p>
<br />
<p align ="center">Date Of Birth : 22/10/1996</p>
<br />
<p align ="center">Linked In : linkedin.com/in/daniel-quinn</p>
<br />
<p align ="center">Instagram : instagram.com/danielQ</p>
</div>

<br />
<div class="box-element product">
    <h2>A little bit about Daniel</h2>
    <br />
    <p>When I first started I was anything but the picture of health. I was very overweight, but I I decided to do 
    something about it. I immersed myself into the lifestyle and have never looked back.
    I learned about the value of Metabolic Training, HIIT, and other disciplines which completely transformed my body. 
    I intend to use my obtained knowledge to benefit any of my clients to also transform their body.</p>
    <p>
        Qualifications : Level 4 obesity managment, level 3 personal trainer
        </p>
    
    </div>
   
</div>
<div>
<br />
<a  class="btn btn-outline-light" href="/about">&#x2190; Back</a>
</div>




{% endblock %}