{% extends "base.html" %}
{% block title %}Clear Gym{% endblock %}{%block content%}
<br />
<h1 align="center" style="color:white">Jack Meegan</h1>
<br />
<br />

<div>
    <div style="float: left">
<img style="border:2px solid black;" src="static/images/jack.jpg" width="555" height="384" >

</div>
<div class="box-element product" style="border:2px solid black;"><p align ="center">Mobile Number : 07347885300</p>
<br />
<p align ="center">Telephone Number : 013 4662 9856</p>
<br />
<p align ="center">Email Address : jack734@gmail.com</p>
<br />
<p align ="center">Date Of Birth : 14/12/1990</p>
<br />
<p align ="center">Linked In : linkedin.com/in/jack-meegan</p>
<br />
<p align ="center">Instagram : instagram.com/jackM</p>
</div>
<br />

<div class="box-element product">
    <h2>A little bit about Jack</h2>
    <br />
    <p>I am the founder of Clear Gym, and I have been working as a personal Trainer since 2013. Being never particularly
        good at sport when I was at school, I found that I actually just really enjoyed fitness, and through that fell
        into the fitness industry after gaining my BA from the university from Birmingham.
    </p>
    <p>Qualifications : Level 3 personal trainer, level 4 sports nutrition, BA sports studies </p>
    
    </div>
   
</div>
<div>
<br />
<a  class="btn btn-outline-light" href="/about">&#x2190; Back</a>
</div>




{% endblock %}