{% extends "base.html" %}
{% block title %}Clear Gym{% endblock %}{%block content%}
<br />
<h1 align="center" style="color:white">Katie Clarke</h1>
<br />
<br />

<div>
    <div style="float: left">
<img style="border:2px solid black;" src="static/images/katie.jpg" width="562" height="384" >

</div>
<div class="box-element product" style="border:2px solid black;"><p align ="center">Mobile Number : 07955478655</p>
<br />
<p align ="center">Telephone Number : 029 8445 1123</p>
<br />
<p align ="center">Email Address : daniel.quinn@gmail.com</p>
<br />
<p align ="center">Date Of Birth : 30/05/1995</p>
<br />
<p align ="center">Linked In : linkedin.com/in/katie-clarke</p>
<br />
<p align ="center">Instagram : instagram.com/katieC</p>
</div>

<br />
<div class="box-element product">
    <h2>A little bit about Katie</h2>
    <br />
    <p>I have always been passionate about fitness from an early age, especially in
       how it can benefit sports performance. With a keen interest in the field I decided
       to study a sports science degree followed by a masters in sports nutrition to better
       understand the complexities of nutrition which I can use to help create diet plans
       for all my clients. 
    </p>
    <p>Qualifications : Masters in sports nutrition, Level 2 gym instructor
        </p>
    
    </div>
   
</div>
<div>
<br />
<a  class="btn btn-outline-light" href="/about">&#x2190; Back</a>
</div>




{% endblock %}