{% extends "base.html" %}
{% block title %}Clear Gym{% endblock %}{%block content%}
<br />
<h1 align="center" style="color:white">About Us</h1>
<br />
<br />
<div class="box-element product">
<h2>Meet the team!</h2>
<br />
<p>See the highly qualified trainers we have working at Clear Gym</p>
<P>Click the links for contact information</p>
</div>

<div class="row">

     <div class="col-lg-4">
        <img class="thumbnail" src="static/images/jack.jpg">
        <div class="box-element product">
            <a align="center" href="/jack">
            <h6><strong>Jack Meegan</strong></h6>
            
        </div>
    </div>


    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/katie.jpg">
        <div class="box-element product">
            <a align="center" href="/katie">
            <h6><strong>Katie Clarke</strong></h6>
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/daniel.png">
        <div class="box-element product">
            <a align="center" href="/daniel">
            <h6><strong>Daniel Quinn</strong></h6>
            
        </div>
    </div>
</div>





{% endblock %}