{%block content%}
<!DOCTYPE html>

<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <title>Clear Gym</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/trial.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="static/images/logo.jpg" width="120px" height="90px" alt="">
        </div>
<ul class="nav-area">

<li><a href="/">Home</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/about">About</a></li>
<li><a href="/forum">Forum</a></li>
<li><a href="/store">Store</a></li>
<li><a href="/whos_in">Who's In</a></li>

<a href="cart">
    <img  id="cart-icon" src="static/images/cart.png">
  </a>
 <p id="cart-total">0</p>

</ul>
</div>

    </div>
</header>

</body>
</html>

{% endblock %}

