{% extends "base.html" %}
{% block title %}Clear Gym{% endblock %}
{% block content %}
<br />
<h1 align="center" style="color:white">Store</h1>
<br />
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/dumbbells.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Dumbbell Set (10kg-30kg)</strong></h6>
            <hr>

            <a  class="btn btn-outline-secondary add-btn" a href="/dumbbell">View Product</a>
           
            <h4 style="display: inline-block"><strong>£200</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/bench.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Adjustable Bench</strong></h6>
            <hr>
            
            <a class="btn btn-outline-secondary add-btn" a href="/bench">View Product</a>
       
            <h4 style="display: inline-block"><strong>£95</strong></h4>
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/barbell.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Barbell with Plates</strong></h6>
            <hr>

            <a  class="btn btn-outline-secondary add-btn" a href="/barbell">View Product</a>
            
            <h4 style="display: inline-block"><strong>£150</strong></h4>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/kettle.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Kettle Bell Set</strong></h6>
            <hr>

            <a  class="btn btn-outline-secondary add-btn" href="/kettle">View Product</a>
            
            <h4 style="display: inline-block"><strong>£110</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/roller.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Foam Roller</strong></h6>
            <hr>

            <a  class="btn btn-outline-secondary add-btn" a href="/foam">View Product</a>
            
            <h4 style="display: inline-block"><strong>£30</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="static/images/bands.jpg" img style="border:2px solid black;">
        <div class="box-element product" img style="border:2px solid black;">
            <h6><strong>Resistance Band</strong></h6>
            <hr>

            <a  class="btn btn-outline-secondary add-btn" href="/band">View Product</a>
           
            <h4 style="display: inline-block"><strong>£12</strong></h4>

        </div>
    </div>




</div>

   





{% endblock content %}


